In [20]:
#Necessary imports that you'd need

In [3]:
import pandas as pd

from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_recall_fscore_support
from sklearn.metrics import f1_score, precision_score, recall_score, confusion_matrix

from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import BernoulliNB

#### Use a label Encoder for converting Categorical Strings into 0/1 for easier data handling. See documentation here : https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

#### Load your data file (.csv) below **

In [5]:
df_csv = pd.read_csv('house-votes-84.csv')
df_csv.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN
2,democrat,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y

#### check the dimensions of your dataframe **

In [6]:
df_csv.shape

(435, 17)

In [7]:
df_csv.head().T

,0,1,2,3,4
Class Name,republican,republican,democrat,democrat,democrat
handicapped-infants,n,n,NaN,n,y
water-project-cost-sharing,y,y,y,y,y
adoption-of-the-budget-resolution,n,n,y,y,y
physician-fee-freeze,y,y,NaN,n,n
el-salvador-aid,y,y,y,NaN,y
religious-groups-in-schools,y,y,y,y,y
anti-satellite-test-ban,n,n,n,n,n
aid-to-nicaraguan-contras,n,n,n,n,n
mx-missile,n,n,n,n,n
immigration,y,n,n,n,n
synfuels-corporation-cutback,NaN,n,y,y,y
education-spending,y,y,n,n,NaN
superfund-right-to-sue,y,y,y,y,y
crime,y,y,y,n,y
duty-free-exports,n,n,n,n,y
export-administration-act-south-africa,y,NaN,n,y,y

#### Checking for missing values below **

In [8]:
df_csv.isna().sum()

Class Name                                  0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

### Treatment 1 : Dropping Missing Values below **

In [9]:
df_csv.dropna(inplace=True)

In [10]:
df_csv.isna().sum()

Class Name                                0
handicapped-infants                       0
water-project-cost-sharing                0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-aid                           0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
immigration                               0
synfuels-corporation-cutback              0
education-spending                        0
superfund-right-to-sue                    0
crime                                     0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

#### check the dimensions of your dataframe again **

In [11]:
df_csv.shape

(232, 17)

#### transforming your dataframe using label encoding - converting n/y to 0/1 **
hint: use .apply on your dataframe and function as le.fit_transform

In [12]:
df_csv=df_csv.apply(le.fit_transform)
df_csv.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,0,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,1,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,0,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,0,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,0,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1

#### separating predictors and target columns **

In [13]:
import numpy as np
columns= np.array(df_csv.columns)
expt1= columns[1:]
X=df_csv[expt1]

columns= np.array(df_csv.columns)
expt2= columns[:1]
y=df_csv[expt2]

#### do a train test split. 
use https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html 

keep test_size=0.3 and set random state to 1 as your parameters

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

#### Classifier 1 - Run NaiveBayes Classifier
There are different sub-classifiers that we can use. Choose the appropriate one looking at the socumentation : https://scikit-learn.org/stable/modules/naive_bayes.html

Train your classifier on training set only, use X_train, y_train

In [15]:
#initialize your classifier
nb = BernoulliNB()

#fit your classifier to training set
nb.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

#### evaluate your classifier **

refer https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html for precision

In [16]:
#use your classifier to predict on the test Set : X_test, save it to a temporary variable y_pred
y_pred =nb.predict(X_test)

In [17]:
#compare y_pred with actual targets for your test set(y_test) and calculate precision, recall, f1-score
print("Precision: %0.2f" %precision_score(y_test, y_pred , average="macro"))

#compute recall and f1-score
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, y_pred, average='macro')

Precision: 0.93

(0.9302325581395349, 0.9090909090909092, 0.9125, None)

#### Classifier 2 - Run Decision Trees
Documentation: https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

Train your classifier on training set only, use X_train, y_train

In [18]:
import sklearn.tree
dt = sklearn.tree.DecisionTreeClassifier(criterion='entropy')
dt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

#### evaluate your classifier **

In [19]:
#y-pred - same as above
y_pred1=dt.predict(X_test)

#compute precision,f1-score, recall - same as above
print("Precision: %0.2f" %precision_score(y_test, y_pred1 , average="macro"))
precision_recall_fscore_support(y_test, y_pred1, average='macro')

Precision: 0.95

(0.9512195121951219, 0.9393939393939394, 0.9421009098428453, None)

### Treatment 2 : Treating missing values as a 3rd category**

In [20]:
#filling NA with 'x' - a temporaty variable 
#hint: use fillna
df_x = pd.read_csv('house-votes-84.csv')
df_x.fillna("x", inplace = True)

df_x.head(10)

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,x,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,x
2,democrat,x,y,y,x,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,x,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,x,y,y,y,y
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
6,democrat,n,y,n,y,y,y,n,n,n,n,n,n,x,y,y,y
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,x,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
9,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,x,x

#### check the dimensions of your dataframe again **

In [21]:
#in this case the dimension of your dataframe should be same as the original one - when your loaded the data 1st

df_x.shape

(435, 17)

#### transforming your dataframe using label encoding - converting n/y to 0/1 **
hint: use .apply on your dataframe and function as le.fit_transform

#### separating predictors and target columns **

In [22]:
df_x=df_x.apply(le.fit_transform)
df_x.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,1,0,2,0,2,2,2,0,0,0,2,1,2,2,2,0,2
1,1,0,2,0,2,2,2,0,0,0,0,0,2,2,2,0,1
2,0,1,2,2,1,2,2,0,0,0,0,2,0,2,2,0,0
3,0,0,2,2,0,1,2,0,0,0,0,2,0,2,0,0,2
4,0,2,2,2,0,2,2,0,0,0,0,2,1,2,2,2,2

In [23]:
import numpy as np
columns= np.array(df_x.columns)
var1= columns[1:]
X2=df_x[var1]

columns= np.array(df_x.columns)
var2= columns[:1]
y2=df_x[var2]

#### do a train test split. 
use https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html 

keep test_size=0.3 and set random state to 1 as your parameters

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size=0.3, random_state=1)

#### Classifier 1 - Run NaiveBayes Classifier
There are different sub-classifiers that we can use. Choose the appropriate one looking at the socumentation : https://scikit-learn.org/stable/modules/naive_bayes.html

Train your classifier on training set only, use X_train, y_train

In [25]:
#initialize your classifier

nb2 = BernoulliNB()

#fit your classifier to training set
nb2.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

#### evaluate your classifier **

refer https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html for precision

In [26]:
#use your classifier to predict on the test Set : X_test, save it to a temporary variable y_pred
y_pred2 =nb2.predict(X_test)

In [27]:
#compare y_pred with actual targets for your test set(y_test) and calculate precision, recall, f1-score
print("Precision: %0.2f" %precision_score(y_test, y_pred2 , average="macro"))

#compute recall and f1-score
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, y_pred2, average='macro')

Precision: 0.88

(0.879656862745098, 0.9143927233814875, 0.891645988420182, None)

#### Classifier 2 - Run Decision Trees
Documentation: https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

Train your classifier on training set only, use X_train, y_train

In [28]:
import sklearn.tree
dt2 = sklearn.tree.DecisionTreeClassifier(criterion='entropy')
dt2.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

#### evaluate your classifier **

In [29]:
#y-pred - same as above
y_pred3=dt2.predict(X_test)

#compute precision,f1-score, recall - same as above
print("Precision: %0.2f" %precision_score(y_test, y_pred3 , average="macro"))
precision_recall_fscore_support(y_test, y_pred3, average='macro')

Precision: 0.94

(0.9411924119241193, 0.9355270197966827, 0.9382782526755065, None)

### Treatment 3 : Replacing missing values with Most Common values**

In [30]:
df = pd.read_csv('house-votes-84.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
Class Name                                435 non-null object
handicapped-infants                       423 non-null object
water-project-cost-sharing                387 non-null object
adoption-of-the-budget-resolution         424 non-null object
physician-fee-freeze                      424 non-null object
el-salvador-aid                           420 non-null object
religious-groups-in-schools               424 non-null object
anti-satellite-test-ban                   421 non-null object
aid-to-nicaraguan-contras                 420 non-null object
mx-missile                                413 non-null object
immigration                               428 non-null object
synfuels-corporation-cutback              414 non-null object
education-spending                        404 non-null object
superfund-right-to-sue                    410 non-null object
crime                                     418 non-null object
duty-free-exports                         407 non-null object
export-administration-act-south-africa    331 non-null object
dtypes: object(17)
memory usage: 57.9+ KB

In [31]:
df.isna().sum()

Class Name                                  0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [32]:
#this is an example of how you can do this - implement it on all the columns that have a missing value
for col in ['Class Name', 'handicapped-infants', 'water-project-cost-sharing',
       'adoption-of-the-budget-resolution', 'physician-fee-freeze',
       'el-salvador-aid', 'religious-groups-in-schools',
       'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile',
       'immigration', 'synfuels-corporation-cutback', 'education-spending',
       'superfund-right-to-sue', 'crime', 'duty-free-exports',
       'export-administration-act-south-africa']:
    df[col] = df[col].astype('category')

df.isna().sum()

Class Name                                  0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [33]:
for col in [ 'handicapped-infants', 'water-project-cost-sharing',
       'adoption-of-the-budget-resolution', 'physician-fee-freeze',
       'el-salvador-aid', 'religious-groups-in-schools',
       'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile',
       'immigration', 'synfuels-corporation-cutback', 'education-spending',
       'superfund-right-to-sue', 'crime', 'duty-free-exports',
       'export-administration-act-south-africa']:
     df[col].fillna(df[col].mode()[0],inplace=True)

In [34]:
df.head(20)

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
2,democrat,n,y,y,n,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,y,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,n,y,y,y,y
5,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y
6,democrat,n,y,n,y,y,y,n,n,n,n,n,n,y,y,y,y
7,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,y
8,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
9,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,n,y
10,republican,n,y,n,y,y,n,n,n,n,n,n,n,y,y,n,n
11,republican,n,y,n,y,y,y,n,n,n,n,y,n,y,y,n,y
12,democrat,n,y,y,n,n,n,y,y,y,n,n,n,y,n,n,y
13,democrat,y,y,y,n,n,y,y,y,y,y,y,n,n,n,y,y
14,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
15,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,n,y
16,democrat,y,n,y,n,n,y,n,y,y,y,y,y,y,n,n,y
17,democrat,y,y,y,n,n,n,y,y,y,n,n,n,y,n,y,y
18,republican,n,y,n,y,y,y,n,n,n,n,n,n,y,y,n,n
19,democrat,y,y,y,n,n,n,y,y,y,n,y,n,n,n,y,y

#### Repeat the same things that you did before

1.Check dimensions
2. Transform your data
3. Separate Target and predictors
4. Do a train test split
5. Run and evaluate NaiveBayes and DecisionTree classifiers

In [35]:
df=df.apply(le.fit_transform)

columns= np.array(df.columns)
var3= columns[1:]
X3=df[var3]

columns= np.array(df.columns)
var4= columns[:1]
y3=df[var4]

X_train, X_test, y_train, y_test = train_test_split(X3, y3, test_size=0.3, random_state=1)

In [36]:
#initialize your classifier

nb3 = BernoulliNB()

#fit your classifier to training set
nb3.fit(X_train, y_train)
#use your classifier to predict on the test Set : X_test, save it to a temporary variable y_pred
y_pre =nb3.predict(X_test)

#compare y_pred with actual targets for your test set(y_test) and calculate precision, recall, f1-score
print("Precision: %0.2f" %precision_score(y_test, y_pre , average="macro"))

#compute recall and f1-score
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, y_pre, average='macro')

Precision: 0.88

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(0.8796665007466401, 0.9081059390048154, 0.8905597326649959, None)

In [37]:
dt3 = sklearn.tree.DecisionTreeClassifier(criterion='entropy')
dt3.fit(X_train, y_train)

#y-pred - same as above
y_pred4=dt2.predict(X_test)

#compute precision,f1-score, recall - same as above
print("Precision: %0.2f" %precision_score(y_test, y_pred4 , average="macro"))
precision_recall_fscore_support(y_test, y_pred4, average='macro')

Precision: 0.94

(0.9364429175475687, 0.9418138041733548, 0.9390495181123297, None)

Record your scores from all the above experiments. Which Classifier performs the best and under what treatment?

*** answer here ***

### CrossValidation
A great read on this : https://towardsdatascience.com/cross-validation-70289113a072

#### where does it come in? 
Validation help us evaluate the quality of the model
Validation help us select the model which will perform best on unseen data
Validation help us to avoid overfitting and underfitting.

#### Let's start with Treatment 1: Dropping missing values
#### Repeat these same things that you did before

1. Check dimensions
2. Transform your data
3. Separate Target and predictors

In [38]:
df_cross = pd.read_csv('house-votes-84.csv')
df_cross.dropna(inplace=True)
df_csv.shape

(232, 17)

In [39]:
df_cross=df_cross.apply(le.fit_transform)
df_cross.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
5,0,0,1,1,0,1,1,0,0,0,0,0,0,1,1,1,1
8,1,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,1
19,0,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
23,0,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1
25,0,1,0,1,0,0,0,1,1,1,1,0,0,0,0,1,1

Now instead of using train-test split, we'll cross-validate on the whole of X and y to maximize the scores

Let's start with NaiveBayes

In [41]:
#Separate Target and predictors
columns= np.array(df_cross.columns)
cros1= columns[1:]
X=df_cross[cros1]

columns= np.array(df_cross.columns)
cros2= columns[:1]
y=df_cross[cros2]

In [62]:

from sklearn.naive_bayes import BernoulliNB
bayes=BernoulliNB()
bayes.fit(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

For this Assignment we'll use cross_val_score from sklearn.cross_validation package

In [63]:
#see the function signature to know what kind of parameters it requires
?cross_val_score

In [64]:
cross_val_score(nb, X, y, cv=5, scoring='precision').mean()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8863333333333333

#### Does the above statement throw an exception? Can you guess why? 
Check if the datatypes of X and y and see if they match that of cross_val_score signature.

Hint: use type() function

#### How do you change these dataframes to datatypes that'll fit your function signature?

Hint: use .values and convert them to numpy array format.

In [65]:
#Compute Recall and Precision
#y-pred - same as above
y_pred6=bayes.predict(X)

#compute precision,f1-score, recall - same as above
print("Precision: %0.2f" %precision_score(y, y_pred6 , average="macro"))
precision_recall_fscore_support(y, y_pred5, average='macro')

Precision: 0.91

(0.9137931034482758, 0.9157706093189963, 0.9136904761904763, None)

In [66]:
#Repeat the same steps for DecisionTree Classifier
dt4 = sklearn.tree.DecisionTreeClassifier(criterion='entropy')
dt4.fit(X, y)
cross_val_score(dt4, X, y, cv=5, scoring='precision').mean()

0.9460606060606059

In [67]:
#y-pred - same as above
y_pred7=dt4.predict(X)
#compute precision,f1-score, recall - same as above
print("Precision: %0.2f" %precision_score(y, y_pred7 , average="macro"))
precision_recall_fscore_support(y, y_pred7, average='macro')

Precision: 1.00

(1.0, 1.0, 1.0, None)

#### Repeat for Treatment 2 and 3 and record scores for each classifier

In [81]:
#Treatment 2
#filling NA with 'x' - a temporaty variable 
#hint: use fillna
df_cross2 = pd.read_csv('house-votes-84.csv')
df_cross2.fillna("x", inplace = True)
df_cross2=df_cross2.apply(le.fit_transform)
columns= np.array(df_cross2.columns)
cros1= columns[1:]
X_cross=df_cross2[cros1]

columns= np.array(df_cross2.columns)
cros2= columns[:1]
y_cross=df_cross2[cros2]

bayes2=BernoulliNB()
bayes2.fit(X_cross, y_cross)
cross_val_score(bayes2, X_cross, y_cross, cv=5, scoring='precision').mean()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.846908030549297

In [85]:
dt5 = sklearn.tree.DecisionTreeClassifier(criterion='entropy')
dt5.fit(X_cross, y_cross)
cross_val_score(dt5, X_cross, y_cross, cv=5, scoring='precision').mean()

#y-pred - same as above
y_pred8=dt5.predict(X_cross)
#compute precision,f1-score, recall - same as above
print("Precision: %0.2f" %precision_score(y_cross, y_pred8 , average="macro"))
precision_recall_fscore_support(y_cross, y_pred8, average='macro')

Precision: 1.00

(1.0, 1.0, 1.0, None)

Does CrossValidation give better scores than train-test split? Which Classifier and Treatment perform the best?